@font-face {
  font-family: Poppins;
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

$primary_color: #eaf3fa;
$secondary_color: #6f737a;



body {
  font-family: Poppins;
  padding: 0;
  margin: 0;
}